.salonDeClases{
    width: 810px;
}
p {margin: 1px;}
.carre123{
    display: flex;

}
.carre456{
    display: flex;
}
.carre1 {
    width: 300px;
    height: 200px;
    margin-left: 10px;
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.place1{ grid-area: 1 / 1 / 2 / 2;}
.place2{ grid-area: 2 / 1 / 3 / 2;}
.placeimg{grid-area: 1 / 2 / 4 / 5; padding-left: 10px; padding-top: 5px;}
.place3{grid-area: 1 / 5 / 2 / 6; }
.place4{ grid-area: 2 / 5 / 3 / 6; }
.carre3{
    width: 200px;
    height: 200px;
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.imgport{grid-area: 1 / 2 / 2 / 5;}

.carre4{

    width: 300px;
    height: 360px;
    padding-left: 20px;
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.place9{grid-area: 1 / 1 / 2 / 2;}
.placeimg2{grid-area: 2 / 1 / 5 / 4;}
.place10{grid-area: 2 / 4 / 3 / 5;}
.place11{grid-area: 5 / 1 / 6 / 2;}
.place12{grid-area: 5 / 3 / 6 / 4; }
.carre5{
    width: 200px;
}

.buttonMelonge{
   margin-top: 50%;
   margin-left: 10%;
   width: 150px;
   height: 70px;
   background-color: black;
   color: white;
   font-size: larger;
}

.carre6{
    width: 300px;
    height: 360px;
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.placeimg3{grid-area: 2 / 2 / 5 / 5;}
.place13{ grid-area: 1 / 3 / 2 / 5;}
.place14{ grid-area: 2 / 1 / 3 / 2;}
.place15{grid-area: 3 / 1 / 4 / 2;}
.place16{grid-area: 5 / 3 / 6 / 5; }

.carre78{
    width: 825px;
    display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.tablero{grid-area: 1 / 3 / 2 / 5;
margin-top: 25%; margin-left: 60px;}
.placeprofe{grid-area: 1 / 6 / 2 / 7;}